{% extends 'news/base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Hyper News</a>
      <form class="d-flex">
      </form>
    </div>
</nav>
<div class="container my-1">
    <div class="card my-3">
        <div class="card-header">
            <h3 class="text-center">
                <p class="card-text">Here you can create news and let them know!</p>
            </h3>
            <h6 class="card-subtitle mb-1 text-muted">{{ news.created }}</h6>
        </div>
            <div class="card-body">
                <div class="d-grid gap-1 d-md-flex space-between" id="space_b">
                    <form action="/news/create/" method="POST">  {% csrf_token %}

                        <label for="exampleFormControlInput1" class="form-label">Title</label>
                        <input type="text" name="title">
                        <br>
                        <label for="exampleFormControlInput1" class="form-label">Text</label>
                        <input type="text" name="text"><br><br>
                        <button class="btn btn-outline-success" type="submit">Submit</button>

                    </form>
                </div>
            </div>
    </div>
</div>
<div class="container my-4">
    <div class="d-grid gap-4 col-2 mx-auto">
        <form action="{% url 'news' %}">
        <button class="btn btn-primary" type="submit">Back to NEWS</button>
        </form>
    </div>
</div>
{% endblock %}

