{% extends 'news/base.html' %}
{% block content %}
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Hyper News</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="container my-1">
    {% for news in articles %}
    <div class="card my-3">
        <div class="card-header">
            <h3 class="text-center">
                <a href="/news/{{news.link}}/">{{ news.title }}</a>
            </h3>
            <h6 class="card-subtitle mb-1 text-muted">{{ news.created }}</h6>
        </div>
            <div class="card-body">
                <div class="d-grid gap-1 d-md-flex space-between" id="space_b">
                    <p class="card-text">Click link above to find out more information</p>
                    <div>
                        <a href="/news/update/{{news.link}}" class="btn btn-success me-md-2" type="button">Update</a>
                        <a onclick="return confirm('Are you sure to delete?')" href="/news/delete/{{news.link}}" class="btn btn-danger me-md-2" type="button">Remove</a>
                    </div>
                    </div>
            </div>
    {% endfor %}
    </div>
</div>
<div class="container my-4">
    <div class="d-grid gap-4 col-4 mx-auto">
        <form action="{% url 'news_create' %}">
        <button class="btn btn-primary" type="submit">Here you can create news and let them know!</button>
        </form>
    </div>
</div>
{% endblock %}